.landingTitle {
    font-size: 5vh;
    display: inline-block;
    text-align: center;
}

.landingChoice {
    font-size: 26px;
    text-align: center;
    margin: auto;
    width: 90%;
    padding: 15px;
}

hr.landingHR {
    height: 1px;
    border: 1px dashed white;
    margin: 1px;
}

.landingBody {
    font-size: 26px;
}

.landingInfo {
    display: inline-block;
    min-height: 22vh;
}



