.postTitle {
    font-size: 24px;
    display: inline;
    margin: 35px;
    font-weight: bold;
}

.searchResultsBox {
    width: 80%;
    margin: auto;
    min-height: 50vh;
}

@media only screen and (max-width: 991px) {
    .searchResultsBox {
        width: 80%;
        min-width: 350px;
        min-height: 50vh;
        display: inline-block;
    }    
    .searchTitleBox .resultsOuterBox {
        width: 80%;
        min-width: 350px;
        display: inline-block; 
    }
}

@media only screen and (max-width: 479px) {
    .searchResultsBox {
        width: 80%;
        min-width: 200px;
        min-height: 50vh;
        display: inline-block;
    }    
    .searchTitleBox .resultsOuterBox {
        width: 80%;
        min-width: 200px;
        display: inline-block; 
    }
}